* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #21212D;
}

main {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;     
}

button#mostrar-spinner {
    background-color: transparent;
    color: #fff;
    border: solid 0.2em #FFF;
    border-radius: 4px;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

button#mostrar-spinner:hover {
    background-color: #BD2113;
    border: none;
}

main div#splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #21212D;
    color: #F9FAFB;
    z-index: 999999;
    pointer-events: none;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

main div#splash-screen .loader {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border-top: 3px solid #BD2113;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    position: relative;
    animation: rotation 1s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div#splash-screen .loader img {
    width: 6em;
    max-width: 100%;
    position: absolute;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

footer {
    height: 3em;
    color: #FFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}