body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B3B3B;
}

.padre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border: 0.1em solid yellow;
    width: 38em;
    height: 38em;
    border-radius: 0.5em;
}

.hijo {
    background-color: yellow;
    width: 10em;
    height: 10em;
    border-radius: 0.5em;
}